body{
    /*background: url("../images/5.jpg");*/
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.top-toolbar{
    border-radius: 10px;
    margin-top: 1%;
    text-align: left;
    padding: 20px 5px;
    /*background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);*/
}

.project-type{
    margin-top: 7%;
    text-align: center;
}

.project-type span{
    margin-right: 3%;
    text-align: center;
}

.project-type button{
    width: 20%;
    height: 30%;
    border-radius: 20px;
    font-size: 50px;
    outline: none;
    /*background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);*/
}

.main-table td tr,.main-table td,.main-table{
    border: 1px solid blue;
}

.mian-layer{
    margin-left: 100px;
    margin-top: 10px;
}

.button-div{
    margin-top: 2%;
}

.main-table{
    width: 75%;
}

#td-one{
    width: 10%;
}

td{
    text-align: center;
    padding: 10px;
    size: 40px;
    width: 10px;
}