.table-div{
    position: relative;
    padding: 20px;
}

.main-table{
    text-align: center;
    width: 100%;
    border-radius: 20px;
}

tr{
    font-size: 20px;
}

.main-table{
    color: #ffff;
    font-family: "Javanese Text";
}



button #delete{
    background-color: #555555;
}

input #add-submit{
    background-color: #555555;
}

body{
    text-align: center;
}